<html lang="en">


   <%- include header %>
<!--            <link rel="stylesheet" type="text/css" href="css/style.css" /> -->
   <!-- Main component for a primary marketing message or call to action -->

    <aside id="fh5co-aside" role="complementary" class="border js-fullheight">

     <h1 id="fh5co-logo"><a href="main.html"><img src="" height="200" width="200"></a></h1>
     <h2 id="fh5co-logo">Name</h2>
     <h3 id="fh5co-logo">Title</h3>
     <nav id="fh5co-main-menu" role="navigation">
       <ul>
         <li class="fh5co-active"><a href=".html">Dashborad</a></li>
         <li><a href="#">Inventory</a></li>
         <li><a href="#">Orders</a></li>
         <li><a href="#">Stock Control</a></li>
       </ul>
     </nav>

     <div class="fh5co-footer">
               <button>FAQs</button>
 <button>Settings</button>
       <p><small>&copy; 2017 The Inventory</small></p>
       </ul>
     </div>

   </aside>

    <%- include footer %>


