<html lang="en">
<link rel="stylesheet" type="text/css" href="css/dashboard.css" />
<%- include header %>
    <%- include sidebar %>
        <!--Dianna put your library charts here> -->
        <div class="container">
            <div class="row">
                <div id="one" class="col-lg-12">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="chartTwo" class="col-lg-6">
                <h1>Top Selling Items</h1>
                </div>
                <div id="chartThree" class="col-lg-6">
                <h1>Low Stock</h1>       
                </div>
            </div>
        </div>
        <%- include footer %>