<html lang="en">
<link rel="stylesheet" type="text/css" href="css/dashboard.css" />
<%- include header %>
<%- include sidebar %>


<!--Dianna put your library charts here> -->

<div class="container">
	<div class="row">
		<div id="two" class="col">
			
		</div>

		<div id="three" class="col">
			
		</div>
	</div>
</div>



    <%- include footer %>