<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
     <script src="https://d3js.org/d3.v4.min.js"></script>
     <script src="/js/chart2.js"></script>
     <script src="/js/chart3.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jannaheader.css" />
</head>

<body>
    <br>
    <div class="row">
        <div class="col-xs-6 col-sm-3">
        </div>
        <div id="stock" class="col-xs-6 col-sm-2" align="center" style="font-weight: bold;">Total Stock on Hand</div>
        <div class="col-xs-6 col-sm-1"></div>
        <div id="received" class="col-xs-6 col-sm-2" align="center" style="font-weight: bold;">Inventory to be Received</div>
        <div class="col-xs-6 col-sm-1"></div>
        <div id="delivered" class="col-xs-6 col-sm-2" align="center" style="font-weight: bold;">Inventory to be Delivered</div>
        <div class="col-xs-6 col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-3">
        </div>
        <div class="col-xs-6 col-sm-2" id="one" style="background-color:paleturquoise;"><h1>15,000</h1></div>
        <div class="col-xs-6 col-sm-1"></div>
        <div class="col-xs-6 col-sm-2" id="two" style="background-color:thistle;"><h1>103</h1></div>
        <div class="col-xs-6 col-sm-1"></div>
        <div class="col-xs-6 col-sm-2" id="three" style="background-color:khaki;"><h1>56</h1></div>
        <div class="col-xs-6 col-sm-1"></div>
    </div>

  <div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/home/dashboard">Home</a></li>
            <li class="active"><a href="/home/inventory"></a>Inventory</li>
            <li class="active"><a href="/home/order">Order</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/home/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>


