<html lang="en">
<link rel="stylesheet" type="text/css" href="css/dashboard.css" />
<%- include header %>
    <%- include sidebar %>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Inventory List</div>
                        <form class="navbar-form" role="search">
                            <div class="input-group add-on">
                                <input class="form-control" placeholder="Search" name="srch-term" id="search-item" type="text">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit" id="item-search"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>
                                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="search-content">
                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-hover" id='inventory-table'>
                        <thead>
                            <tr>
                                <th>Product ID</th>
                                <th>Vendor</th>
                                <th>Description</th>
                                <th>SF_Box</th>
                                <th>Dimension</th>
                                <th>Collection</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--Put in the inventory search and also the table here-->
        <%- include footer %>