<html lang="en">
<link rel="stylesheet" type="text/css" href="css/dashboard.css" />
<%- include header %>
<%- include sidebar %>

  	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<ul class="list-group order-list">
					<li class="list-group-item">
						<form class="order-form">
						Product ID:<input class="product-id" placeholder="Product ID" type="text">
						<br>
						Quantity:<input class="quantity" placeholder="Quantity" type="text">
						<br>
						Month:
							<select  class="month" name="month" form="monthform">
						 		<option value="">JAN</option>
							  	<option value="">FEB</option>
							  	<option value="">MAR</option>
							  	<option value="">APR</option>
							  	<option value="">MAY</option>
							  	<option value="">JUN</option>	
							  	<option value="">JUL</option>
							  	<option value="">AUG</option>
							  	<option value="">SEP</option>
							  	<option value="">OCT</option>
							  	<option value="">NOV</option>
							  	<option value="">DEC</option>
							</select>
						<br>
						Date:							
							<select  class="date" name="date" form="dateform">
						 		<option value="">01</option>
							  	<option value="">02</option>
							  	<option value="">03</option>
							  	<option value="">04</option>
							  	<option value="">05</option>
							  	<option value="">06</option>	
							  	<option value="">07</option>
							  	<option value="">08</option>
							  	<option value="">09</option>
							  	<option value="">10</option>
							  	<option value="">11</option>
							  	<option value="">12</option>
							  	<option value="">13</option>
							  	<option value="">14</option>
							  	<option value="">15</option>
							  	<option value="">16</option>
							  	<option value="">17</option>
							  	<option value="">18</option>	
							  	<option value="">19</option>
							  	<option value="">20</option>
							  	<option value="">21</option>
							  	<option value="">22</option>
							  	<option value="">23</option>
							  	<option value="">24</option>
							  	<option value="">25</option>
							  	<option value="">26</option>
							  	<option value="">27</option>
							  	<option value="">28</option>
							  	<option value="">29</option>
							  	<option value="">30</option>
							  	<option value="">31</option>
							</select>
						<br>
						Year:
							<select  class="year" name="year" form="yearform">
								<option value="">2015</option>
							  	<option value="">2016</option>
							  	<option value="">2017</option>
							  	<option value="">2018</option>
							  	<option value="">2019</option>
							  	<option value="">2020</option>	
							</select>
						<br>
							<button type="submit" class="btn btn-default receive">Receive Items</button>
							<button type="submit" class="btn btn-default send">Send Items</button>
						</form>
					</li>
					<span class="order-container">
					</span>
				</ul>
			</div>
		</div>
	</div>

    <%- include footer %>