<html lang="en">
<!-- <link rel="stylesheet" type="text/css" href="/css/jannastyle.css" /> -->

    <aside id="fh5co-aside" role="complementary" class="border js-fullheight">
        <center>
            <h1 id="tropical-logo"><img align="middle" src="/images/Tropical_Flooring_Logo_Classic.png" height="auto" width="150"></a></h1>
        </center>
        
        <div class="user-info-container">
        </div>
        
        <br>
        <br>
        <nav id="fh5co-main-menu" role="navigation">
            <ul>
                <li class="fh5co-active"><a href="/home/dashboard">Dashboard</a></li>
                <li><a href="/home/inventory">Inventory</a></li>
                <li><a href="/home/orders">Orders</a></li>
                <li><a href="/home/stockcontrol">Stock Control</a></li>
            </ul>
        </nav>
        <div class="fh5co-footer">
            <a href="/home/logout">Logout</a>
            <p><small>&copy; 2018 The Inventory</small></p>
            </ul>
        </div>
    </aside>
