<html lang="en">
<link rel="stylesheet" type="text/css" href="css/dashboard.css" />

    <aside id="fh5co-aside" role="complementary" class="border js-fullheight">
        <h1 id="fh5co-logo"><img src="/css/pizza.jpg" height="200" width="200"></a></h1>
        <h2 id="fh5co-logo">Pizza</h2>
        <h3 id="fh5co-logo">Party Pals</h3>
        <nav id="fh5co-main-menu" role="navigation">
            <ul>
                <li class="fh5co-active"><a href="/home/dashboard">Dashboard</a></li>
                <li><a href="#">Inventory</a></li>
                <li><a href="/home/profile">Orders</a></li>
                <li><a href="/home/stockcontrol">Stock Control</a></li>
            </ul>
        </nav>
        <div class="fh5co-footer">
            <a href="/home/logout">Logout</a>
            <p><small>&copy; 2017 The Inventory</small></p>
            </ul>
        </div>
    </aside>
