body {
    background-image: url("photo1.jpeg");
    background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center; 
}

.janna {
	background-color: #333333;
	 	    border-radius: 20px;

}

.janna1 {
	background-color: #333333;
	    border-radius: 20px;
}

.janna2 {
	background-color: #333333;
}

a {
	color: #8bc63f;
}

#logo {
	padding-right: 50px;
}